---
# tasks file for ansible-role-keepalived
- name: "Include {{ ansible_distribution }} variables"
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags:
    - install
    - configure

- name: 'Install packages'
  package:
    name: "{{ item }}"
    state: present
  with_items: "{{ keepalived_packages }}"
  register: install_packages
  until: install_packages is success
  retries: 5
  delay: 2
  tags: install

- name: 'Set configuration'
  template:
    src: "{{ keepalived_conf_template }}"
    dest: "{{ keepalived_conf_path }}"
    owner: root
    group: root
    mode: 0644
  register: set_keepalived_config
  tags: configure

- name: 'Start service or reload changed config'
  service:
    name: "{{ keepalived_service_name }}"
    state: reloaded
    enabled: true
  when:
    - not keepalived_provision_only
    - set_keepalived_config is changed
  tags: configure
...
