! Configuration File for keepalived
global_defs {
   notification_email {
     {{ keepalived_global_defs_notification_email }}
   }
   script_user root root
   enable_script_security
   notification_email_from {{ keepalived_global_defs_notification_email_from }}
   smtp_server {{ keepalived_global_defs_smtp_server }}
   smtp_connect_timeout {{ keepalived_global_defs_smtp_connect_timeout }}
}
vrrp_script check_haproxy {
  script "/usr/bin/pgrep haproxy"
  interval 2
  fall 3
  rise 2
}

{% for vrrpiname, vrrpiopts in keepalived_vrrp_instances.items() | list %}
vrrp_instance {{ vrrpiname }} {
  {% for key, value in vrrpiopts.items() | list -%}
  {{ key }}
    {%- if value is string %} {{ value }}
    {%- elif value is mapping %} {
      {% for vk,vv in value.items() | list -%}
  {{ vk }} {{ vv }}
      {% endfor %}
}
    {%- elif value is sequence %} {
      {% for v in value -%}
  {{ v }}
      {% endfor %}
  }
    {%- endif %}

  {% endfor -%}
}
{% endfor %}
