! Configuration File for keepalived
global_defs {
   notification_email {
     {{ keepalived_global_defs_notification_email }}
   }
   notification_email_from {{ keepalived_global_defs_notification_email_from }}
   smtp_server {{ keepalived_global_defs_smtp_server }}
   smtp_connect_timeout {{ keepalived_global_defs_smtp_connect_timeout }}
}
vrrp_script check_haproxy {
  script "pidof haproxy"
  interval 2
  fall 3
  rise 2
}

{% for vrrpiname, vrrpiopts in keepalived_vrrp_instances.iteritems() %}
vrrp_instance {{ vrrpiname }} {
  {% for key, value in vrrpiopts.iteritems() -%}
  {{ key }}
    {%- if value is string %} {{ value }}
    {%- elif value is mapping %} {
      {% for vk,vv in value.iteritems() -%}
  {{ vk }} {{ vv }}
      {% endfor %}
}
    {%- elif value is sequence %} {
      {% for v in value -%}
  {{ v }}
      {% endfor %}
  }
    {%- endif %}

  {% endfor -%}
}
{% endfor %}
